.Moviecontainer{
  display:flex;
  .section1{
    display:flex;
    flex-wrap:wrap-reverse;
    flex:70%;
    .card{
      padding: 10px 10px 10px 10px;
    }
    a{
      color: blue;
    }
  }



  .addMovie{
    flex:30%;
    padding:20px 20px 20px 20px;
    h1{
      color: #000;
    }

  }
  .btn-add{
    margin-top: 40px;
    margin-left: 440px;
    color: rgb(171, 153, 188);
    border-color: rgb(171, 153, 188);
  }

}


.BoxStyle{ display: flex; alignItems: flex-end }


